@import '../../../../static/genericStyles/global.module.scss';

.NavigationBar {
  //background-color: yellow;
  background-color: $muted-color-1;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding-left: 30px;
  padding-right: 30px;
}