@import '../../../../static/genericStyles/global.module.scss';

.NavigationBar {
  //background-color: yellow;
  background-color: $muted-color-1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

  img {
    height: 35px;
    margin: 10px auto 0px;
  }
}