@import '../../../static/genericStyles/global.module';

.cont {
  //border: 1px solid coral;
  width: 85%;
  padding: 60px;
  background-color: $muted-color-1;
  border-radius: 10px;
  justify-content: space-between;


  .header{
    padding-bottom: 40px;
  }

  p{
    padding-bottom: 40px;
  }
}