@import url('https://fonts.googleapis.com/css?family=Poppins:200,300i,400,700');
@import '../../../static/genericStyles/global.module';

.cont {
  //border: 1px solid coral;
  width: 85%;
  height: 85vh;
  padding: 60px;
  display: flex;
  flex-direction: column;
  background-color: $muted-color;


    button{
      margin-bottom: 10px;
      padding: 5px;
      width: 200px;
      align-self: flex-end;
    }
}