@import '../../../static/genericStyles/global.module';

.cont {
  background-color: $clear-color;
  justify-content: space-between;
  max-width: 95%;
  margin: 20px;
  height: 100vh;


  .header {
    width: 100%;
    max-width: 1000px;
    padding: 30px 20px;
    background-image: url('https://images.pexels.com/photos/1376864/pexels-photo-1376864.jpeg?cs=srgb&dl=adult-business-deal-collaboration-1376864.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    .icon {
      float: right;
    }
  }

  .Body{
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    p{
      padding-bottom: 30px;
    }

    button{
      width: 40%;
      color:$clear-color;
      float: right;
    }

    .icon {
      float: left;
    }
  }
}


//mobil
@media only screen and (max-width: 430px){
  .cont {
    background-color: $clear-color;
    justify-content: space-between;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;

    .header {
      width: 100%;
      padding: 30px 20px;
      background-image: url('https://images.pexels.com/photos/1376864/pexels-photo-1376864.jpeg?cs=srgb&dl=adult-business-deal-collaboration-1376864.jpg&fm=jpg');
      background-size: cover;
      background-position: center;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;

      .icon {
        float: right;
      }

      p{
        padding-bottom: 30px;
      }
    }

    .Body{
      margin: 0 auto;
      padding:20px;
      width: 100%;
      background-color: pink;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    
      button{
        width: 100%;
        color:$clear-color;
        float: right;
      }

      .icon {
        float: left;
      }
    }
  }
}