@import '../../../static/genericStyles/global.module';

.JobListing {
  background-color: $clear-color;
  height: 100vh;

  .Body{
    margin: 0 auto;
    padding: 40px 40px 60px 40px;
    background-color: $muted-color-1;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;

    p{
      padding-bottom: 30px;
    }

    button{
      width: 40%;
      color:$clear-color;
      float: right;
    }
  }
}


//mobil
@media only screen and (max-width: 520px){
  .cont {
    background-color: $clear-color;
    max-width: 100%;
    margin: 0 auto;

    .Body{
      //margin: 0 auto;
      padding:40px 40px 60px 40px;
      width: 100%;
      background-color: $muted-color-1;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    
      button{
        width: 100%;
        color:$clear-color;
        float: right;
      }
    }
  }
}