@import '../../../../static/genericStyles/global.module.scss';

.bottomNav{
    display: none;
}

@media only screen and (max-width: 520px){

    .bottomNav{
        margin: 0 auto;
        display: flex;
        bottom: 0;
        justify-content: space-around;
        font-size: 30px;
        padding: 15px;
        background-color: $accent-color-1;

    }
}