@import '../../../../static/genericStyles/global.module.scss';

.Button {
  height: $input-height;
  border-radius: $rounded-radius;
  background-color: $accent-color-1;
  border: none;
  color: $clear-color;
  box-shadow: 0px 3px 22px -10px rgba(0,0,0,0.75);
  transition: 300ms;

  &:hover {
    background-color: $accent-color-2;
  }
}