@import '../../../../static/genericStyles/global.module.scss';
.cont {
  display: flex;
  justify-content: flex-end;

  button {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 50px;
    border: solid $muted-color-1 2px;
    background-color: $dark-color;
    color: $clear-color;
    outline: none;


    &:hover {
      background-color: $clear-color;
      border: solid $dark-color 2px;
      color: $dark-color;
      transition: ease 0.6s;
    }
  }
}