
@import '../../../../static/genericStyles/global.module.scss';

%visible-line {
   content: "";
    height: 1px;
    width: 300px;
    display: inline-block;
    background-color: $dark-color;
    position: relative;
    top: -5px;
}

.Title{
  color : $accent-color-2;
  position: relative;
  line-height: 1.5rem;
  margin-bottom: 10px;
  //background-image: linear-gradient(red, yellow);

  &>* {

    &:first-letter {
       background:               linear-gradient(90deg, $accent-color-1 37%, $accent-color-2 37%);
        background-size:                contain;
        margin:                         auto;

        background-clip:                text;
        -webkit-background-clip:        text;
        color:                          transparent;


    }

    span {

    }
  }



  p{
    color: $dark-color;
  }

  h1 {
    font-size: 2.5em;
  }


}