
@import '../../../../static/genericStyles/global.module.scss';

%visible-line {
   content: "";
    height: 1px;
    width: 300px;
    display: inline-block;
    background-color: $dark-color;
    position: relative;
    top: -5px;
}

.Title {
  color : $dark-color;
  position: relative;
  line-height: 1.5rem;
  margin-bottom: 10px;
  //background-image: linear-gradient(red, yellow);


  h1 {
    font-size: 2.5em;
  }
}

.Left {
  text-align: left;
}

.Center {
  text-align: center;
}

.Right {
  text-align: right;
}
