.PageSection {
  min-height: 100vh;
  &:first-child {
    min-height: calc(100vh - 50px);
  }

  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}