.InputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;


  input {
    height: 40px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #F4F4F4;
    border: none;
    border-bottom: 1px solid #647384;
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
  }

  &:before {
      content: "";
      display: block;
      //width: 100px;
      height: 4px;
      background-color: #FF595E;
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      transition: 300ms;
    }


  &:focus-within {
    &:before {
      bottom: 0;
      left: 0.1px;
      right: 0.1px;
    }
  }
}