@import '../../../../static/genericStyles/global.module.scss';

.InputField {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $clear-color;
  min-height: $input-height;
  margin-bottom: 10px;
  margin-top: 30px;
  border-radius: 8px;
  border: 1px solid $muted-color-2;
  display: flex;
  justify-content: center;
  align-items: center;

  .Icon {
    color: $accent-color-1;

  }

  input, textarea, select {
    border: none;
    margin: 5px;
    width: 90%;
    outline: none;

    &::placeholder {
      color: $muted-text-color;
    }
  }

  textarea {
    min-height: 300px;
    padding-top: 15px;
  }

  label {
    width: 100%;
    position: absolute;
    top: -25px;
    color: $base-text-color;
  }

}

.Rounded {
    border-radius: $rounded-radius;
}

.CenterPlaceholder {
  input {
    &::placeholder {
      text-align: center;
    }
  }
}

