$dark-color: #2E294E;
$clear-color: #FFFFFF;
$muted-color-1: #f6f6f6;
$muted-color-2: #E3E3E3;


$accent-color-1: #DA9000;
$accent-color-2: #247BA0;
$accent-color-3: #FFD400;


$input-height: 45px;
$rounded-radius: 30px;

//Breakpoints

$small-screen: 520px;
$medium-screen: 920px;