@import '../../static/genericStyles/global.module.scss';

.LoginPage {
    background-color: $muted-color-1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    form {
        width: 50%;
        padding: 20px;
        width: 100%;
    }

    img {
        width: 100%;
        max-width: 400px;
    }
}