.background {
    // background-image: url('https://images.pexels.com/photos/1376864/pexels-photo-1376864.jpeg?cs=srgb&dl=adult-business-deal-collaboration-1376864.jpg&fm=jpg');
    background-size:cover;
    background-position: center;
    filter: blur(100px);
}