.NavigationItem {
  //display: inline-block;
  background-color: transparent;
  height: 100%;
  transition: 250ms;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: white;
    border-bottom: 5px solid orangered;
  }
}