@import '../../../../static/genericStyles/global.module.scss';


%untouched-input {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: $muted-color-1;
  border: none;
  outline: none;
  width: 100%;

}


.InputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;


  input {
    height: 50px;
    @extend %untouched-input;
    //border-bottom: 1px solid $muted-color-2;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 5px;
  }

  textarea {
    @extend %untouched-input;
    padding: 35px 15px 15px;
    resize: none;
    min-height: 300px;
  }

  &:before {
    content: "";
    display: block;
    //width: 100px;
    height: 4px;
    background-color: $accent-color-2;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transition: 300ms;
  }


  &:focus-within {
    &:before {
      bottom: 0;
      left: 0.1px;
      right: 0.1px;
    }

    .Placeholder {
      @extend %touched-input;
    }
  }

  .Icon {
    position: absolute;
    bottom: 15px;
    left: 12px;
    color: #CECECE;
  }

  .Placeholder {
    color: #8F96A8;
    position: absolute;
    bottom: 10px;
    left: 40px;
    transition: 200ms;
    transition-timing-function: ease-in;
    pointer-events: none;
    font-weight: bold;
  }

  &.Filled {
    .Placeholder {
      @extend %touched-input;
    }
  }
}

%touched-input {
  color: $accent-color-2;
  bottom: 30px;
  left: 35px;
  font-size: 0.8em;
  font-weight: bold;
}

.TextArea {
  .Placeholder {
    top: 15px;
    left: 15px !important;
  }
}


