@import '../../../../static/genericStyles/global.module.scss';

.jobinfo {
  margin-bottom: 30px;
  background: $clear-color;
  width: 100%;
  padding: 30px;
  border-radius: 15px;
  display:flex;

  .item{
    flex-direction: column;
  }

  h3{
    padding-bottom: 10px;
  }
}

