@import '../../../../static/genericStyles/global.module.scss';

.jobinfo {
  margin-bottom: 30px;
  width: 100%;
  border-radius: 15px;
  display:flex;
  background-color: blue;

  .item{
    flex-direction: column;
  }

  h3{
    padding-bottom: 10px;
  }
}

