.HomePage {
  //background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(244,244,244,1) 40%);
  min-height: 100vh !important;
  background: url("/static/images/bigTriangle.svg");
  background-position: -180px -100px;
  background-repeat: no-repeat;
  flex-direction: column;

  img {
    margin-bottom: 30px;
    transform: scale(1.1);
  }
  
  @media (min-width: 520px) {
    background-size: 130%;
    background-position: center;
    //background-repeat: repeat;
    img {
      width: 100%;
      max-width: 600px;
    }
  }
}