.HomePage {
  //background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(244,244,244,1) 40%);
  min-height: 100vh !important;
  background: linear-gradient(0deg, white 40%, #f4f4f4 40%);
  flex-direction: column;

  img {
    margin-bottom: 30px;
    transform: scale(1.1);
  }
  
  @media (min-width: 520px) {
    background-size: 130%;
    background-position: center;
    //background-repeat: repeat;
    img {
      width: 100%;
      max-width: 600px;
    }
  }

  .PeopleLogo {
    max-height: 300px;
    width: auto;
  }
}