.HomePage {
  //background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(244,244,244,1) 40%);
  min-height: 100vh !important;
  background: linear-gradient(0deg, white 40%, #f4f4f4 40%);
  flex-direction: column;

  
  @media (min-width: 520px) {
    background-size: 130%;
    background-position: center;
  }

  .Logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    img {
      width: 100%;
    }

    .CompanyLogo {
       margin-bottom: 15px;
    }
  }

  .PeopleLogo {
    width: 100%;
    max-width: 400px;
  }

  Form {
    padding: 30px;
  }
}