.UnknownPage {
  background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(244,244,244,1) 40%);
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;

  .Message {
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: #71697A;

  }

  .ErrorCode {
    font-size: 19em;
    color: #2B2D42;
    position: relative;
    opacity: 0.5;
    transform: scale(1.5);
  }

  img {
    z-index: 2;
  }
}