.ThumbsUpIcon {
    position: relative;
    width: 500px;
    height: 350px;
    svg {
      position: absolute;
    }
    .stripes {
      fill: #f7f7f7;
      animation: stripesSwing 1300ms   ease-in-out;
    }
    .stars {
      fill: #febb02;
    }
    .star1 {
      animation: starFly1 1300ms  ;
      z-index: 1;
    }
    .star2 {
      animation: starFly2 1300ms  ;
      z-index: 1;
    }
    .star3 {
      animation: starFly3 1300ms  ;
      z-index: 1;
    }
    .star4 {
      animation: starFly4 1300ms  ;
      z-index: 1;
    }
    .star5 {
      animation: starFly5 1300ms  ;
      z-index: 1;
    }
    .ThumbsUp {
      animation: thumbsupShake 1300ms   ease-in-out;
      z-index: 2;
    }
  }
  
  @keyframes starFly1 {
    0% {
      transform: translate(20%, 40%) scale(0.76, 0.76);
      opacity: 0;
    }
  
    12% {
      opacity: 1;
    }
  
    28% {
      transform: translate(0, 0) scale(1, 1);
    }
  }
  
  
  @keyframes starFly2 {
    0% {
      transform: translate(-14%, 40%) scale(0.76, 0.76);
      opacity: 0;
    }
  
    12% {
      opacity: 1;
    }
  
    28% {
      transform: translate(0, 0) scale(1, 1);
    }
  }
  
  
  @keyframes starFly3 {
    0% {
      transform: translate(5%, -35%) scale(0.76, 0.76);
      opacity: 0;
    }
  
    12% {
      opacity: 1;
    }
  
    28% {
      transform: translate(0, 0) scale(1, 1);
    }
  }
  
  
  @keyframes starFly4 {
    0% {
      transform: translate(30%, 0) scale(0.76, 0.76);
      opacity: 0;
    }
  
    12% {
      opacity: 1;
    }
  
    28% {
      transform: translate(0, 0) scale(1, 1);
    }
  }
  
  
  @keyframes starFly5 {
    0% {
      transform: translate(-20%, 0) scale(0.76, 0.76);
      opacity: 0;
    }
  
    12% {
      opacity: 1;
    }
  
    28% {
      transform: translate(0, 0) scale(1, 1);
    }
  }
  
  
  @keyframes thumbsupShake {
    0% {
      transform: rotate(20deg) scale(0.74, 0.74);
      opacity: 0.1;
    }
  
    7% {
      opacity: 1;
      transform: rotate(0) scale(1, 1);
    }
  
    15% {
      transform: rotate(-11deg) scale(1.08, 1.08);
    }
  
    28% {
      transform: rotate(0) scale(1, 1);
    }
  }
  
  
  @keyframes stripesSwing {
    20% {
      transform: translate(4%, 0);
    }
  
    38% {
      transform: translate(-2%, 0);
    }
  
    59% {
      transform: translate(3.7%, 0);
    }
  
    79% {
      transform: translate(0, 0);
    }
  }