@import '../../../../static/genericStyles/global.module.scss';

.Bubble {
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    padding: 3px 3px;
    min-width: 85px;
    background-color: $accent-color-1;
    margin-left: 5px;
    border-radius: 15px;
    color: $clear-color;
    display: inline-block;

    &.Color1 {
        background-color: $accent-color-1;
    }

    &.Color2 {
        background-color: $accent-color-2;
    }

    &.Color3 {
        background-color: $accent-color-3;
    }
}