@import '../../../../static/genericStyles/global.module.scss';

.Bubble {
    font-weight: bold;
    font-size: 0.75em;
    text-align: center;
    padding: 3px 5px;
    background-color: rebeccapurple;
    margin-right: 5px;
    border-radius: 15px;
    color: $clear-color;
}