@import '../../../../static/genericStyles/global.module.scss';

.SearchForm {
  width: 100%;
  max-width: 400px;
  &>* {
    width: 100%;
  }

  @media (min-width: $medium-screen) {
    display: flex;
    max-width: 920px;

    &>* {
      margin: 4px;
    }
  }
}

.SearchButton {
  margin-top: 30px;
}