@import '../../../../static//genericStyles/global.module.scss';

.header {
    width: 100%;
    max-width: 1200px;
    padding: 50px 40px;
    background-color: $accent-color-1;
    border-top-right-radius: $rounded-radius;
    border-top-left-radius: $rounded-radius;
    z-index: 800;
}

  @media only screen and (max-width: 520px){

    .header {
        width: 100%;
        padding: 40px 40px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
  
        p{
          padding-bottom: 30px;
        }
    }
  }